.dashboard-container1 {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.dashboard-container1 .up{
    color: white;
    background-color: black;
    border-radius: 20px;
    width:47%;
    margin-left: 27%;
    height: 60px;
    text-align: center;
    align-content: center;
    
}


.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.message {
    color: green;
    margin-bottom: 15px;
}

.upload-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #0056b3;
}
.drop-zone {
    border: 2px dashed #007bff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.drop-zone:hover {
    background-color: #f0f8ff;
}

.drop-zone p {
    margin: 0;
    color: #007bff;
}
