.container {
  max-width: 600px;
  margin: 50px auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.container .h1{
  background-color: black;
  color: white;
  border-radius: 20px ;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.notes {
  margin-top: 30px;
}

.notes h2{
  font-size: 20px;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background:orange;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
.note-title {
  position: absolute;
  top: 1px;
  left: 20px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color:white;
  width: 310px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  height: 60px;
}
.note-title .hub{
  color: black; /* Second part in orange */
  background-color: orange;
  padding: 0 10px;
  border-radius: 5px;
}

.url{
color: black;
text-decoration: none;
font-weight: 550;

}